repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      # Run the linter.
      # - id: ruff
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.1
    hooks:
    -   id: pyupgrade
        args: ["--py39-plus"]
