[project]
name = "goodconf"
description = "Load configuration variables from a file or environment"
readme = "README.rst"
authors = [
    {name = "Peter Baumgartner", email = "brett@python.org"}
]
keywords = ["env", "config", "json", "yaml", "toml"]
license = {file = "LICENSE"}
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11"
]
dynamic = ["version"]
dependencies = [
    "pydantic>=1.7"
]

[project.optional-dependencies]
yaml = ["ruamel.yaml>=0.17.0"]
toml = ["tomlkit>=0.11.6"]
tests = [
    "django>=3.2.0",
    "ruamel.yaml>=0.17.0",
    "tomlkit>=0.11.6",
    "pytest==7.2.*",
    "pytest-cov==4.0.*",
    "pytest-mock==3.10.*"
]
maintainer = ["zest.releaser[recommended]"]

[project.urls]
homepage = "https://github.com/lincolnloop/goodconf/"

[tools.setuptools]
zip-safe = false

[tool.setuptools_scm]

[tool.distutils.bdist_wheel]
universal = true

[tool.isort]
profile = "black"
default_section = "THIRDPARTY"
known_first_party = "goodconf"

[tool.pytest.ini_options]
addopts = "--cov --cov-branch"

[build-system]
requires = ["setuptools>=45", "setuptools_scm[toml]>=6.2"]
build-backend = "setuptools.build_meta"