name: test

on: [push]

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python: [ "3.7", "3.8", "3.9", "3.10" ]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python }}

    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: python -m pip install codecov -e .[tests]

    - name: Test
      run: set -ex && pytest && codecov
